.contact{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact h1{
  padding-bottom: 6vh;
}

.contact p{
  color: red;
  text-align: center;
}

.formbox{
  height: 60vh;
  width: 60%;
}

form{
  display: block;
}

input, textarea {
  color: white;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: red;
  border:  2px solid red; //obczaic dlaczego jak usuwam border to zostaje jakis dziwny
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: none; //niepotrzebne?
}

input:focus, textarea:focus {
    outline: 2px solid #b13232; //dodac jakis hover do submit, tez podswietlenie aktywnego inputu...
}

//kolor tekstu w ramkach formularza
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
}

//======SOCIAL ICONS=========
.menu-social{
  display:flex;
  justify-content: center;
  padding-top: 6vh;
}

.menu-social i{
  color: red;
  padding: 10px;
  //font-size: 2.6vh; ew for rwd
  border-bottom: 2px solid red; //do i need this?
}
.contact i:hover {
	color: #C5FEFF;
	border-bottom: 2px solid #C5FEFF;
	transition: 0.2s ease-in;
}
