nav{
  //background: rgba(255, 255, 255, .2);
}

.menu-top{
  background: rgba(255, 255, 255, .2);
  border-bottom: 1px #549f93 solid;
  ul{
    display: flex;
    justify-content:space-around;
  }
  li{
    display: inline-block;
    padding: 15px 20px;
  }
  li:hover{
    //background: red;
    transition: 0.15s ease-in;
    color: red;
  }
}

.menu-top a, .menu-side a, .downBtn a{
    color: inherit;
    text-decoration: none;
}

//==
.menu-side{
  position: fixed;
  top: 3em;
  right: 3em;
  color: red;
  z-index: 99; //czy to potrzebne?
  transition: all 2s ease-in-out .5s;
}

.sideBtn {
  //margin: 0 auto;
  width: 45px;
  height: 45px;
  background-color: red;
  border-radius: 50% 50% 0 0;
}
.round{
  border-radius: 50%;
}

.sideBtn i {
   margin: auto;
   color: black;
}

.menu-side-list{
  transition: opacity .3s; //transition display nie dziala
}

.menu-side-list {
  ul {
    list-style: none;
  }
  * {
    margin: 0;  //to sprawdzic, czemu nie wyzej?
    padding: 0;
    outline: 0;
    transition: all 1s ease; //do czego to sie odnosi
    box-sizing: border-box;
  }
  li a {
    display: block;
    position: relative;
  }
  .fa{
    vertical-align: middle;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    position: relative;
    z-index: 4;
  }
  li span{
    font-size: 16px;
    vertical-align:middle;
    height: 45px;
    line-height: 45px;
    width: auto;
    white-space: nowrap; //??
    overflow: hidden;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    z-index: 3;
    padding-right: .5em;
    //background-color: #555;

  }
  li a:hover .fa {
    transform: rotate(720deg);
    color: #fff; //zmienia kolor ikon po najechaniu, plynnie
  }
  li a:hover span {
    visibility: visible;
    right: 45px
  }
  li .fa {
    background-color: red;//#EEE;
    color: black;//#555;
  }
  li:nth-child(10n+1) span,
  li:nth-child(10n+1) a:hover .fa {
    //background-color: #8350DD;
  }
  li:nth-child(10n+5) a .fa{
    border-radius: 0 0 50% 50%;
  }
}



//==========================
.home {
  color: #134b48;
  text-align: center;
  font-family: arial;
  padding-top: 40px; //zmienic na % lub vh
  height: 100vh;
}

.home h1 {
  font-weight: 600;
  font-size: 6vh;
  letter-spacing: .5vh;
  padding: 20px 0; //zmienic na % lub vh
}

.home p{
  font-weight: 400;
  font-size: 2.5vh;
  letter-spacing: 1vh;
  padding: 10px 0; //zmienic na % lub vh
  opacity: 0; //to do animacji w jQuery
}

.home img{
  width: 33vh;
  height: 33vh;
  box-shadow: 5px 5px 15px #323232;
  border-radius: 50%;
  margin-top: 30px; //cos innego, zeby byl zawsze posrodku?
}

.downBtn{
  color: red;
  border: 2px solid red;
  border-radius: 50%;
  width: 6vh;
  height: 6vh;
  margin: 0 auto;
  margin-top: 25vh; //to zrobic indaczej, przyczepic do dolnej krawedzi diva...
  display: flex;
  justify-content: center;
  align-items: center;
}

.downBtn p{
  padding: 0;
  letter-spacing: 0;
  transform: rotate(90deg);
}

.downBtn:hover{
  background-color: red;
  color: black;
  transition-property: background-color;
  transition-duration: 200ms;
}

.downBtn a{
  padding: 13px 15px;
}




// TODO: p ma sie pojawic tak jak  u kamila
//transition / transform - ale jak zrobic zeby dzialalo on load? //http://www.webnote.pl/css3-transition-co-to-jest-i-jak-z-tego-korzystac.html
//animation: fadein 2s; + @keyframes fadein{from{opacity: 0;}to{opacity:1;}
//w jQuery animate, albo addClass
