.skills h1 {
  padding: 6vh 0;
}

.skills img{
  width: 65%;
  display: block;
  margin:auto;
}

[class*='col-'] {
  float: left;
  transform: scale(1);
  transition-duration: 0.3s;
}
[class*="col-"]:hover{
  transform:scale(1.1);
  transition-duration: 0.3s;
}

.col-3 {
  width: 33.33%;
}

.col-6 {
  @media (max-width: 600px){
    width: 50%;
  }
}
