.skills h1 {
  padding: 6vh 0;
}

.skills img{
  display: block;
  margin: 0 auto 5vh auto;
  height: 20vh;
  width: auto;
  transition-duration: 0.3s;

  &:hover {
    transform:scale(1.1);
  }
}

[class*='col-'] {
  float: left;
  transform: scale(1);
}

.col-3 {
  width: 33.33%;
}

.col-6 {
  @media (max-width: 600px){
    width: 50%;
  }
}
