h1, .h1 {
  font-size: 5vh;
  color: red;
  font-weight: 600;
  letter-spacing: .5vh;
  text-align: center;
}

@font-face{
  font-family: "Lato";
  src: url("../fonts/lato/lato-regular.woff");
}

@font-face{
  font-family: "Archivo Narrow";
  src: url("../fonts/archivonarrow/archivonarrow-regular.woff");
}
