body {
	font-family: "Lato", Arial, Helvetica, sans-serif;
	background-color: #000; 
	position: relative; 
}

.container {
	position: absolute; 
	top: 50%; 
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 2; 
}

.img{
	background-image: url("../images/soon.jpg");
	background-position: center; 
	background-repeat: no-repeat; 
	background-attachment: initial;
	background-size: contain; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 50%;
	z-index: 1;
	display: none; 
}

img {
	max-width: 100%;
	height: auto;
}

.d1 {
	color: white; 
}

.mdl-spinner {
	position: relative; 
	left: calc(50% - 20px); 
}

.mdl-spinner--single-color [class*="mdl-spinner__layer"]{
	border-color: white; 
}


