@import "reset";
@import "typography";
@import "starsParallax";
@import "header";
@import "skills";
@import "portfolio";
@import "contact";
@import "about";
@import "stickyMenu";
@import "media";

body{
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

header, section {
  width: 100%;
  height: 100vh;
}

header {
  background-image: url(../images/seaHorizon11.jpg);
  background-size: cover;
  background-position: bottom center;
}

header:after { //fix linii 1px na dole obrazka tła
  display: block;
  content: 'x';
  border-bottom: 1px black solid;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

footer {
  width: 100%;
  height: 50vh;
  background-image: url(../images/Lunar1.png);
  background-size: cover;
  background-position: top left;
}

.container {
  // Od 320px do 767px - to mozna nazwac mobile
  width: 100%;
  min-width: 320px;

  // Od 768px do 991px - to mozna nazwac tablet
  @media (min-width: 768px) {
    width: 738px;
    margin: 0 auto;
  }

  // Od 992px wzwyz - to mozna nazwac maly desktop
  @media (min-width: 992px) {

  }
}
//to do:
//define mixins for vendor prefixes to avoid repetitive code (sass)
