@import "reset";
@import "starsParallax";
@import "header";
//@import "home";
//@import "about";
//@import "skills";
//@import "portflio";
//@import "contact";
//@import "stickyMenu";

header, section {
  width: 100%;
  height: 100vh;
}

header {
  background-image: url(../images/seaHorizon11.jpg);
  background-size: cover;
  background-position: bottom center;
}

footer {
  width: 100%;
  height: 50vh;
  background-image: url(../images/Lunar1.png);
  background-size: cover;
  background-position: top left;
}

.about{
background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 74%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 74%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 74%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.container {
  width: 750px;
  margin: 0 auto;
  //border: 1px solid red;
}
