.modal{
    display: none;
    position: fixed; 
    top: 50%; 
    left: 50%; 
    width: 20%;
    min-width: 300px;
    height: 20%; 
    
    background-color: #2e3440;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0px 6px 24px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 24px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 24px 2px rgba(0,0,0,0.75);
    border-radius: 5px;
    text-align: center;
    .center-container{
        // color: #d94da9;
        
        color: #e6e6e6;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h2{
            font-size: .9em;
            font-weight: 300;
        }

    }
}

.show{
    display: block;
}