.modal{
    display: none;
    position: fixed; 
    top: 50%; 
    left: 50%; 
    width: 20%;
    min-width: 300px;
    height: 20%; 
    
    background-color: #2e3440;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0px 6px 24px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 24px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 24px 2px rgba(0,0,0,0.75);
    border-radius: 5px;
    text-align: center;

    // opacity: 0;
    // transform: scaleY(0);

    .center-container{
        // color: #d94da9;
        
        color: #e6e6e6;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;

        
        .game-header {
            font-size: .9em;
            font-weight: 300;
            margin: 0;
        }
        .game-result{
            display: none;
            font-size: .7em;
            margin-top: 0;
            position: relative;
            top: -7px;
        }
    }
    .game-options{
        text-align: center;
        width: 100%;
        position: absolute; 
        display: none;
        bottom: 20px;
        a{
            color: #e6e6e6;
            padding: 0 .3em .3em;
            font-weight: 600;
            text-decoration: underline;
            font-size: .7em;
        }
    }
}

.show{
    display: block;
}