* {
    font-family: 'Montserrat', sans-serif;
}

html, body {
    line-height: 1.4;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #1a1d1e;
    color: #7c8c9c;
    overflow: hidden;
    margin: 0;
}

a {
    color: #7c8c9c;
    text-decoration: none;
}
   

.main{
    position: absolute; 
    transform: translate(-50%, -50%);
    top: 45%; 
    left: 50%;
    text-align: center;
    h1{
        margin: 0;
        font-size: 2.3em;
        font-weight: 300;
    }

    p{
        margin: 0 0 .3em 0;
        font-size: 1.3em;
        font-weight: 200;
    }
}

.icons{
    position: absolute;
    left: 48%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    a {
        padding: 0 0.2em 0 0.2em;
        transition: all .2s ease-out;
        &:hover{
            color: #d94da9;
        }   
    }
}
.projects{
    // width: 100%;
    position: absolute;
    opacity:0;
    transform: translatex(-100%);
    a {
        padding: 0 .3em .3em;
        transition: all .2s ease-out;
        font-weight: 600;
        text-decoration: underline;
        &:hover{
            color: #d94da9;
        }   
    }
    i {
        font-size: 14px;
    }
}


::-moz-selection {
    background: #d94da9;
}

::selection {
    background: #d94da9;
}


@import 'animation';
@import 'modal';